.DS_Store
.classpath
.idea
.project
*.iml
org.eclipse.core.resources.prefs
org.eclipse.m2e.core.prefs
org.eclipse.wst.validation.prefs
org.sonar.ide.eclipse.core.prefs
pom.xml.*
target
/.git
/logdb
/release.properties
/PerfLoggerGuiMain*.launch
